* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  
  }
  
  /* Định dạng header */
  .header {
    background-color: #e9d8f4;
    color: #58257b;
    padding: 10px;
    text-align: center;
  }
  
  /* Định dạng thanh điều hướng trên cùng */
  .topnav {
    overflow: hidden;
    background-color: #58257b;
  }
  
  /* Định dạng link điều hướng */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Thay đổi màu liên kết khi di chuột qua */
  .topnav a:hover {
    background-color: #db7093;
    color: white;
    font-weight: bold
  }
  
  /* Tạo ba cột không bằng nhau, float cạnh nhau */
  .column {
    float: left;
    padding: 10px;
    height: 777px;
    background-color: #ea8685;
  }
  
  /* Cột bên trái và phải */
  .column.side {
    width: 70%;
    background-color: #ea8685;
  }
  
  /* Cột chính giữa */
  .column.middle {
    width: 25%;
    /* width: 500px; */

    background-color: #b33939;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .column.final {
    /* width: 40%; */
    width: 5%;
  }
  
  /* Clear float khác sau các cột */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Bố cục linh hoạt: ba cột xếp chồng lên nhau thay vì cạnh nhau khi màn hình 
  có chiều rộng dưới 600px */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
  }
  }
  
  /* Định dạng footer */
  .footer {
    /* background-color: #e9d8f4; */
    background-color: #40739E;
    /* color: #58257b; */
    color: #fff;
    padding: 5px;
    text-align: center;
  }